
<div class="row">
    <div class="panel">

        <h1>Tidio</h1>

        <p>
        Modern housekeeping for the progressive household.
        </p>
        <p>
        Tidio is currently in closed β.
        </p>

    </div>
</div>
